    <h1 class="text-center">Desafio Backend</h1>
    <div id="login"></div>

    <section class="container pt-4">
        <h2 class="text-center">Ingresar Productos</h2>
        <div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" class="form-control" id="price">
            </div>

            <div class="mb-3">
                <label for="thumbnial" class="form-label">Thumbnial</label>
                <input type="text" name="thumbnail" class="form-control" id="thumbnail">
            </div>

            <button class="btn btn-primary" id="boton">guardar producto</button>
            <button class="btn btn-warning" id="botonTest">Generar Productos</button>
        </div>

    </section>
    <div id="contenidoTabla">

    </div>
  
    <section class="mt-4 container pt-4">
        <h2 class="text-center">Centro de mensajes</h2>
        <hr>
        <div id="mjsEnviados" style="height:150px; overflow:auto;"></div>
        <hr>
        <div class="mb-3">
            <input placeholder="Escribe tu Email..." required type="email" name="email" class="form-control w-25" id="email">
        </div>
        <div class = "mb-3">
            <input placeholder="Escribe tu nombre" required type="text" name="nombre" class="form-control w-25" id="nombre">
        </div>
        <div class="mb-3">
            <input placeholder="Escribe tu apellido" required type="text" name="apellido" class="form-control w-25" id="apellido">
        </div>
        <div class="mb-3">
            <input placeholder="Escribe tu edad" required type="number" name="edad" class="form-control w-25" id="edad">
        </div>
        <div class="mb-3">
            <input placeholder="Escribe tu alias" required type="text" name="alias" class="form-control w-25" id="alias">
        </div>
        <div class="mb-3">
            <input placeholder="direccion de tu avatar" required type="text" name="avatar" class="form-control w-25" id="avatar">
        </div>

        
        <div class="mb-3">
            <input placeholder="Escribe tu mensaje..." required type="text" name="text" class="w-50 form-control" id="texto"> 
        </div>
        <button class="ms-2 btn btn-primary" id="botonMensaje">Enviar</button>

    </section>
    <hr>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/home.js"></script>